.dashboard-container{
    height: 100vh;
    background-color: rgba(215, 113, 58, 0.249);    
}

.sideNav{
    background-color: rgba(215, 113, 58, 0.249);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.boton{
    background-color: black;
    color: aliceblue;
    padding: 15px;
}
.fecha{
    justify-content: end;
}