<mat-drawer-container class="dashboard-container" autosize>
    <mat-drawer #drawer class="example-sidenav sideNav" mode="side">
      <img src="\assets\imagen\pngtree-school-building-cartoon-school-png-image_2472268.jpg" alt="imagen colegio">
      @if (showFiller) {
        <p>¿QUIERE INGRESAR A SU CUENTA?.</p>
      }
      @if (nuevoUsuario) {
        <p>¿QUIERE CREAR UN NUEVO USUARIO?.</p>
      }
      <button appTitulo class="boton" (click)="showFiller = !showFiller" mat-raised-button>
        INGRESAR CUENTA
      </button>
      <button appTitulo class="boton" (click)="nuevoUsuario= !nuevoUsuario" mat-raised-button>
        NUEVO USUARIO
      </button>
      <div>
        <p appTitulo>NUEVA PAGINA</p>
      </div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span appTitulo>NUEVO TRABAJO</span>
            <span class="example-spacer"></span>
          </mat-toolbar>
          <div class="p-3">
            
            <app-users></app-users>
            <!--  <app-alumnos><app-pipes appTitulo></app-pipes></app-alumnos>-->
          </div>
    </div>
  <app-pipes *fullName></app-pipes>
  </mat-drawer-container>
  
